.fs{
  font-family: 'Shantell Sans', cursive;
}
.card img{
  width: 100%;
  height: 200px;
}
.fstyle{
  font-family: 'Shantell Sans', cursive;
 }
 .carousel-item img{
     height: 400px;
     width: 200px;
 }